<extend name="Public/base"/>

<block name="body">
  <div class="content">
    <div class="panel">
      <div class="panel-head">
        <ul class="segment-group">
          <volist name="sub_menu" id="item">
            <li <if condition="$item.action_name eq ACTION_NAME">class="curr"</if>
            >
            <a href="{$item.link}">{$item.title}</a>
          </li>
        </volist>
      </ul>
    </div>
    <div class="panel-control">
      <form id="form1" name="form1" method="post" action="__URL__/put_map">
        <input type="text" name="key"/>
        <input type="text" name="value" />
        <input type="submit" value="添加配置" />
      </form>
    </div>
    <div class="panel-content">
      <table class="table table-border">
        <tr>
          <td width="15%">配置键</td>
          <td width="70%">配置值</td>
          <td width="15%">操作</td>
        </tr>

        <volist name="map" id="item">
          <form id="form1" name="form1" method="post" action="__URL__/edit_map">
            <tr>
              <td>
                <input name="key" type="text" value="{$item.map_key}" />
              </td>
              <td>
                <input name="value" type="text" value="{$item.map_value}" style="width: 100%" />
              </td>
              <td>
                <input type="Submit" name="Submit3" value="修改" class="btn"/>
                <input type="button" name="Submit" value="删除"  class="btn"
           onclick="javascript:if(confirm('确定删除？删除后不可恢复!')){
            window.location.href='__URL__/del_map/key/{$item.map_key}';}else{history.go(0);}"/>
              </td>
            </tr>
          </form>
        </volist>
      </table>
      <div>{$page}</div>
    </div>
  </div>
</div>
</block>