<extend name="Public/base"/>

<block name="body">
        <div class="content">
            <h1>添加专题</h1>
            <form action="" method="post" class="form">
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(默认、英语)：</label>
                    <input type="text" required class="item-ipt-long" name="name" value="{$name}"/>
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(葡萄牙)：</label>
                    <input type="text" class="item-ipt-long" name="name_pty" value="{$name_pty}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(西班牙)：</label>
                    <input type="text" class="item-ipt-long" name="name_xby" value="{$name_xby}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(俄语)：</label>
                    <input type="text" class="item-ipt-long" name="name_els" value="{$name_els}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(土耳其)：</label>
                    <input type="text" class="item-ipt-long" name="name_teq" value="{$name_teq}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle"></label>
                    <input type="submit" value="添加"/>
                </div>
            </form>
        </div>
</block>