<extend name="Public/base"/>

<block name="body">
        <div class="content">
            <h1>添加专题图片</h1>
            <form action="" method="post" class="form">
                <input type="hidden" name="id" value="{$item.id}"/>
                <div class="form-item">
                    <label class="item-title">专题：</label>
                    <input type="text" class="item-ipt-long" value="{$item.name}" readonly="" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片1：</label>
                    <input type="text" class="item-ipt-middle" name="wid0" value="{$wid0}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片2：</label>
                    <input type="text" class="item-ipt-middle" name="wid1" value="{$wid1}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片3：</label>
                    <input type="text" class="item-ipt-middle" name="wid2" value="{$wid2}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片4：</label>
                    <input type="text" class="item-ipt-middle" name="wid3" value="{$wid3}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片5：</label>
                    <input type="text" class="item-ipt-middle" name="wid4" value="{$wid4}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片6：</label>
                    <input type="text" class="item-ipt-middle" name="wid5" value="{$wid5}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片7：</label>
                    <input type="text" class="item-ipt-middle" name="wid6" value="{$wid6}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片8：</label>
                    <input type="text" class="item-ipt-middle" name="wid7" value="{$wid7}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片9：</label>
                    <input type="text" class="item-ipt-middle" name="wid8" value="{$wid8}" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片10：</label>
                    <input type="text" class="item-ipt-middle" name="wid9" value="{$wid9}" />
                </div>
                <div class="form-item">
                    <label class="item-title"></label>
                    <input type="submit" value="添加"/>
                </div>
            </form>
        </div>
</block>