<extend name="Public/base"/>

<block name="body">
        <div class="content">
            <h1>修改专题</h1>
            <form action="" method="post" class="form">
                <input type="hidden" name="id" value="{$id}"/>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(默认、英语)：</label>
                    <input type="text" required class="item-ipt-middle" name="name" value="{$item.name}"/>
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(葡萄牙)：</label>
                    <input type="text" class="item-ipt-middle" name="name_pty" value="{$item.name_pty}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(西班牙)：</label>
                    <input type="text" class="item-ipt-middle" name="name_xby" value="{$item.name_xby}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(俄语)：</label>
                    <input type="text" class="item-ipt-middle" name="name_els" value="{$item.name_els}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(土耳其)：</label>
                    <input type="text" class="item-ipt-middle" name="name_teq" value="{$item.name_teq}" />
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle"></label>
                    <input type="submit" value="修改"/>
                </div>
            </form>
        </div>
</block>