<extend name="Public/base"/>

<block name="body">
  <div class="content">
    <div class="panel">
      <div class="panel-head">
        <h4>管理员列表</h4>
      </div>
      <div class="panel-control">
        <form action="__APP__/ManagerUser/insert" method="post">
          <tr>
            <td>
              <input name="ttedu_musers" type="text"  size="15"/>
            </td>
            <td height="25">
              <input name="ttedu_mpassword" type="text"  size="15"/>
            </td>
            <td>
              <input name="ttedu_memail" type="text"   size="18"/>
            </td>
            <td>
              <input name="ttedu_mtel" type="text"  size="15"/>
            </td>
            <td>
              <input name="ttedu_mqq" type="text"  size="15" />
            </td>
            <td colspan="2">
              <input type="radio" name="ttedu_mquanxian" value="0" />
              &nbsp; 超级管理员
              <input type="radio" name="ttedu_mquanxian" value="1" checked/>
              &nbsp; 一般管理员
            </td>
            <td>
              <input type="Submit" name="Submit3" value="添加管理员"  class="btn"/>
            </td>
          </tr>
        </form>
      </div>
      <div class="panel-content">
        <table class="table table-border">
          <thead>
            <td width="10%">账号</td>
            <td width="9%" >密码</td>
            <td width="12%">邮箱</td>
            <td width="12%">电话</td>
            <td width="12%">QQ</td>
            <td width="23%">权限</td>
            <td width="10%">修改时间</td>
            <td width="12%">操作</td>
          </thead>
          <volist name="manager_users" id="vo">
            <form action="{:U('update')}" method="post">
              <input type="hidden" value="{$vo.ttedu_id}" name="ttedu_id" />
              <tr>
                <td>
                  <input name="ttedu_musers" type="text" value="{$vo.ttedu_musers}" size="15"/>
                </td>
                <td height="25">
                  <input name="ttedu_mpassword" type="text" value="{$vo.ttedu_mpassword}" size="15"/>
                </td>
                <td>
                  <input name="ttedu_memail" type="text" value="{$vo.ttedu_memail}"  size="18"/>
                </td>
                <td>
                  <input name="ttedu_mtel" type="text" value="{$vo.ttedu_mtel}"  size="15"/>
                </td>
                <td>
                  <input name="ttedu_mqq" type="text" value="{$vo.ttedu_mqq}" size="15" />
                </td>
                <td>
                  <input type="radio" name="ttedu_mquanxian" value="0" <eq name="vo.ttedu_mquanxian" value="0">checked</eq>
                />&nbsp; 超级
                <input type="radio" name="ttedu_mquanxian" value="1" <neq name="vo.ttedu_mquanxian" value="0">checked</neq>
              />&nbsp; 一般
            </td>
            <td>{$vo.ttedu_adddate|date='Y-m-d',###}</td>
            <td>
              <input type="Submit" name="Submit3" value="修改"  class="btn"/>
              <input type="button" name="Submit" value="删除" class="btn" 
                    onclick="javascript:if(confirm('确定删除？删除后不可恢复!')){
                      window.location.href='__APP__/ManagerUser/delete/ttedu_id/'+{$vo.ttedu_id} ;}else{history.go(0);}" />
            </td>
          </tr>
        </form>
      </volist>
    </table>
  </div>
</div>
</div>
</block>