<extend name="Public/base"/>

<block name="body">
  <div class="content">
    <div class="panel">
      <div class="panel-head">
          <ul class="segment-group">
              <volist name="sub_menu" id="item">
                  <li <if condition="$item.action_name eq ACTION_NAME">class="curr"</if>>
                      <a href="{$item.link}">{$item.title}</a>
                  </li>
              </volist>
          </ul>
      </div>
      <div class="panel-content">
        <form id="form1" name="form1" method="post" action="admin_news.asp?del=checkbox">
          <table class="table table-border">
            <tr>
              <td width="4%" >ID</td>
              <td width="11%">姓名</td>
              <td width="8%" >性别</td>
              <td width="8%" >年龄</td>
              <td width="22%" >注册时间</td>
              <td width="22%" >最后登录时间</td>
              <td width="13%" >联系电话</td>
              <td width="12%" >操作</td>
            </tr>
            <volist name="member_admin" id="vo">
              <tr>
                <td >{$vo.id}</td>
                <td >{$vo.username}</td>
                <td >{$vo.sex}</td>
                <td >{$vo.age}</td>
                <td >{$vo.add_time|date='Y-m-d H:i:s',###}</td>
                <td >{$vo.login_time|date='Y-m-d H:i:s',###}</td>
                <td >{$vo.mobilephone}</td>
                <td >
                  <input type="button" name="Submit3" value="修改"
          onclick="window.location.href='__APP__/HuiyuanInfo/update_member_user/id/'+{$vo.id} "/>
                </td>
              </tr>
            </volist>
          </table>
        </form>
      </div>
    </div>
  </div>
</block>
<block name="js">
  <script language="javascript">
    function CheckAll(){ 
     for (var i=0;i<eval(form1.elements.length);i++){ 
      var e=form1.elements[i]; 
      if (e.name!="allbox") e.checked=form1.allbox.checked; 
     } 
    }
  </script></block>