<extend name="Public/base"/>

<block name="style">
    <style type="text/css">
        .post-item{
            margin: 5px auto;
        }
        .post-item input,select,textarea{
            width: 300px;
        }
        .banner-image{
            width: 380px;
            height: 160px;
            background-color: #EDEDED;
        }
    </style>
</block>

<block name="body">
    <div id="main" class="content">
        <div id="content" class="panel">
            <div class="panel-head">
                <h4>Banner管理</h4>
            </div>
            <div class="panel-control">
                <input type="button" onclick="javascript:window.location.href='__URL__/add'" value="新增Banner"></div>
            <div class="panel-content">
                <table class="table table-border" id="preview">
                    <volist name="banners" id="banner" key="k">
                        <tr>
                            <td>#{$banner.id}</td>
                            <td>
                                <img src="{$banner.image}" class="banner-image"></td>
                            <td>
                                <form action="__URL__/save" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="id" value="{$banner.id}">
                                    <div class="post-item">
                                        <span>Banner标题：</span>
                                        <input type="text" value="{$banner.title}" name="title"></div>
                                    <div class="post-item">
                                        <span>Banner顺序：</span>
                                        <input type="text" value="{$banner.order}" name="order"></div>
                                    <div class="post-item">
                                        <span>Banner动作：</span>
                                        <select name="action" name="action">
                                            <volist name="options" id="option" key="k">
                                                <option value="{$k}" selected="<eq name='$banner.action' value='$key'></eq>
                                                ">{$option}
                                            </option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="post-item">
                                    <span>Banner图片：</span>
                                    <input type="file" value="上传图片" name="image"></div>
                            </td>
                            <td>
                                <input type="submit" value="修改">
                                <input type="button" value="删除" onclick="javascrip:window.location.href='__URL__/del/id/{$banner.id}'"></td>
                        </form>
                    </tr>
                </volist>
            </table>
        </div>
    </div>
</div>
</block>
<block name="js"></block>