<extend name="Public/base"/>

<block name="body">
        <div class="content">
            <h1>修改分类</h1>
            <form action="" method="post" class="form">
                <input type="hidden" name="id" value="{$id}"/>
                <div class="form-item">
                    <label class="item-title item-title-middle">名称(默认、英语)：</label>
                    <input type="text" required class="item-ipt-middle" name="name" value="{$item.name}"/>
                </div>
                <div class="form-item">
                    <label class="item-title item-title-middle"></label>
                    <input type="submit" value="修改"/>
                </div>
            </form>
        </div>
</block>